@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('../fonts/montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html { 
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: 'montserratregular', 'Arial';
	color: white;
	margin: 0px;
}

#body
{
	padding-top: 42px; 
}

.title
{
	width: 60%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	color: black;
	padding: 30px 50px;
	border-radius: 10px;
}

h1
{
	font-family: 'montserratsemibold', 'montserratregular', 'Arial';
	color: #1831a4;
	text-transform: uppercase;
	border-bottom: 1px solid #1831a4;
	padding-bottom: 10px;
}

.msgNoJs
{
	background-color: var(--tip-color);
	padding: 10px 20px;
	border-radius: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'montserratsemibold';
	box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.5);
	transition: box-shadow 0.2s;
}

.msgNoJs:hover
{
	box-shadow: 1px 5px 8px rgba(26, 26, 26, 0.5);
	transition: box-shadow 0.2s;
}

.hide_div
{
	display: none;
}

.infos
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	font-family: 'montserratregular', 'montserratsemibold', 'montserrat_alternatesXBd', 'Arial';
	margin: 0px;
	padding: 10px 90px;
	padding-bottom: 60px;
	background-color: var(--tip-color-opacity75);
}

.infos_date
{
	margin-right: 100px;
	color: black;
}

.hour
{
	font-family: 'montserrat_alternatesXBd', 'montserratsemibold', 'montserratregular', 'Arial';
	font-size: 50px;
	margin-bottom: 10px;
	background-color: var(--tip-color);
	color: white;
}

.date_info
{
	font-size: 13px;
	font-weight: bold;
}

.repere
{
	font-size: 13px;
	margin-top: 50px;
}

.repere a
{
	color: inherit;
}

.infos_form form
{
	width: 350px;
	margin-top: 80px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: column;
}

.choose_tags
{
	width: 100%;
	padding: 14px 24px;
	font-size: 15px;
	background-color: white;
	border: none;
}

.submit:not(.msg_footer)
{
	width: 150px;
	height: 40px;
	padding: 10px 20px;
	margin-top: 30px;
	color: white;
	background-color: var(--tip-color);
	text-decoration: none;
	text-align: center;
	border-radius: 2px;
	box-shadow: 1px 1px 8px rgba(26, 26, 26, 0.7);
	border: none;
	transition: box-shadow ease-in-out 0.2s;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

.submit:not(.msg_footer):hover
{
	box-shadow: 1px 5px 10px rgba(26, 26, 26, 0.7);
	opacity: 0.95;
	transition: box-shadow ease-in-out 0.2s;
}

#dock_infos
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-self: center;
	align-items: center;
	background-color: var(--tip-color);
	margin: 0px;
}

#dock_infos_block1
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	width: 50%;
}

#dock_infos_block1 img
{
	width: 50px;
}

#dock_infos_block1 div
{
	width: 20%;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	margin: 20px 5px;
}

#dock_infos_block1 div strong
{
	font-family: 'montserrat_alternatesXBd', 'montserratsemibold', 'montserratregular', 'Arial';
	font-size: 20px;
}

#dock_infos_block1 div .info_text
{
	font-family: 'montserratsemibold', 'montserratregular', 'Arial';
	font-size: 17px;
}

#dock_infos_block2
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-self: center;
	align-items: center;
	margin: 15px 20px;
	width: 20%;
}

#dock_infos_block2 a
{
	width: 70%;
	min-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	font-size: 12px;
	margin: 10px 15px;
	padding: 12px 20px;
	font-family: 'montserratsemibold', 'montserratregular', 'Arial';
	border-radius: 23px;
}

#dock_infos_block2 #linkOne
{
	color: var(--tip-color);
	background-color: white;
	box-shadow: 1px 1px 8px rgba(26, 26, 26, 0.5);
	transition: box-shadow ease-in-out 0.2s;
}

#dock_infos_block2 #linkOne:hover
{
	box-shadow: 1px 5px 10px rgba(26, 26, 26, 0.7);
	opacity: 0.95;
	transition: box-shadow ease-in-out 0.2s;
}

#dock_infos_block2 #linkTwo
{
	transition: background-color 0.2s;
}

#dock_infos_block2 #linkTwo:hover
{
	background-color: rgba(255, 255, 255, 0.25);
	transition: background-color 0.2s;
}

#dock_infos_block2 #linkTwo:hover img, #dock_infos_block2 #linkTwo:active img
{
	transform: rotate(90deg);
	transition: transform ease-in-out 0.2s;
}

#dock_infos_block2 #linkTwo
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-self: center;
	align-items: center;
	padding: 12px 20px;
}

#dock_infos_block2 #linkTwo img
{
	width: 17px;
	margin-left: 20px;
	transform: rotate(-90deg);
	transition: transform ease-in-out 0.2s;
}

.paging_system
{
	height: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	align-self: center;
	margin: 0px;
	margin-top: 10px;
}

.paging_system a
{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin: 10px 15px;
	border-radius: 50px;
	background-color: var(--tap-color);
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
	font-size: 14px;
	font-family: 'montserrat_alternatesXBd', 'montserratsemibold', 'montserratregular', 'Arial';
	transition: box-shadow 0.2s;
}

.paging_system .actualPage
{
	background-color: var(--tip-color);
}

.paging_system a:hover
{
	width: 45px;
	height: 45px;
	line-height: 45px;
	box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
	font-size: 17px;
	transition: box-shadow, width, height, line-height, font-size, 0.2s;
}

.msg
{
	margin-left: 50px;
	padding: 20px 10px;
	display: flex;
	justify-content: flex-start;
	flex: row;
	font-size: 0.9em;
	line-height: 18px;
	/*border: 2px solid red;*/
}

.b1, .b2, .b3
{
	width: 380px;
	margin-right: 50px;
	margin-top: 0px;
	/*border: 2px solid black;*/
}

.date
{
	font-size: 13px;
	margin-top: 5px;
	color: black;
}

.tip
{
	min-width: 233px;
	position: relative;
	background-color: var(--tip-color);
	border-radius: 50px;
	margin-right: 50px;
	padding: 15px 30px;
	margin-bottom: 0px;
	cursor: normal;
	z-index: 2;
	box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
}

.tip_img
{
	position: relative;
	top: -28px;
	right: 0px;
	width: 25px;
	height: 25px;
	margin: 0px;
	margin-left: 80%;
	padding: 0px;
	z-index: 1;
	background-color: var(--tip-color);
}

.opt_icon
{
	display: none;
	position: relative;
	top: -100px;
	right: -310px;
	width: 22px;
	height: 22px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	box-shadow: 2px 1px 5px rgba(26, 26, 26, 0.7);
	padding: 4px;
	z-index: 5;
}

.tap
{
	font-size: 0.97em;
	position: relative;
	background-color: var(--tap-color);
	border-radius: 50px;
	margin-left: 50px;
	padding: 15px 30px;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 0px;
	cursor: normal;
	z-index: 2;
	box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.4);
}

.tap_img
{
	position: relative;
	top: -22px;
	right: -48px;
	width: 25px;
	height: 25px;
	z-index: 2;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

.tap span
{
	font-family: 'montserratsemibold', 'montserratregular', 'Arial';
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

.tap_img + .opt_icon
{
	right: -360px;
}

.tap:hover, .tip:hover
{
	cursor: pointer;
}

.no_answers
{
	background-color: yellow;
	border-radius: 50px;
}

.tip_footer, .tap_footer
{
	width: 84%;
	position: relative;
	top: -35px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	background-color: transparent;
	border: none;
	text-decoration: none;
}

.tap_footer
{
	width: 93%;
}

.msg_footer, .modif_footer, .modif_tap_footer
{
	margin: 0px 10px;
}

.msg_footer:hover, .modif_footer:hover, .modif_tap_footer:hover
{
	text-decoration: underline;
}

.leavetip
{
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'montserratsemibold';
	font-size: 22px;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
	margin-top: 70px;
}

#reponse
{
	position: relative;
	width: 60%;
	margin-left: 10%;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 5px 0px;
	font-size: 14px;
	z-index: 5;
	color: rgba(0, 0, 0, 0.7);
}

#reponse form
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 0px;
}

#reponse select
{
	padding: 5px 10px;
	width: 250px;
	border-bottom: 2px inset rgba(0, 0, 0, 0.85);
}

#reponse select:hover
{
	border-bottom: 2px inset var(--tip-color);
}

#reponse select + p
{
	margin-bottom: 30px;
}

#reponse textarea
{
	font-family: 'montserratregular';
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	transition: border 0.2s;
	border: 2px solid rgba(0, 0, 0, 0.25);
}

#reponse textarea:hover
{
	border: 2px solid var(--tip-color);
	transition: border 0.2s;
}

.showTextAreaForTap
{
	display: none;
	width: 90%;
	margin: auto;
	margin-bottom: 50px;
	padding: 20px 15px;
	border-radius: 2px;
	/*box-shadow: 1px 5px 10px rgba(36, 36, 36, 0.5);*/
	color: rgba(0, 0, 0, 0.8);
}

.showTextAreaForTap form
{
	width: 120%;
	height: auto;
	display: block;
	background-color: white;
}

.showTextAreaForTap form textarea
{
	width: 80%;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 15px;
	font-family: '', 'montserratregular', 'Arial';
	font-size: 13px;
	line-height: 18px;
	transition: border 0.2s;
}

.showTextAreaForTap form textarea:hover, .showTextAreaForTap form textarea:focus
{
	border: 1px solid var(--tip-color);
	transition: border 0.2s;
}

.showTextAreaForTap .submit
{
	font-size: 10px;
	width: 90px;
	height: 35px;
	margin-left: 15px;
	padding: 10px;
}

.input_hide
{
	display: none;
}

.showTextAreaForTap p
{
	font-size: 14px;
}

.smileys
{
	/*border: 1px solid black;*/
}

/* ============================== Media Queries ================================ */
@media all and (max-width: 1200px)
{
	.title
	{
		font-size: 15px;
	}

	.title h1
	{
		font-size: 25px;
	}

	.hour
	{
		font-size: 60px;
	}

	.date_info
	{
		font-size: 12px;
	}

	#dock_infos_block2 a
	{
		font-size: 11px;
	}

	.msg
	{
		width: 90%;
		flex-wrap: wrap;
	}

	.b1, .b2, .b3
	{
		width: 380px;
		font-size: 14px;
	}

	.tip, .tap
	{
		font-size: 13px;
		line-height: 16px;
	}

	.leavetip, #reponse
	{
		width: 80%;
	}

	#reponse select
	{
		width: 60%;
	}

	#dock_infos_block1 div
	{
		font-size: 11px;
	}

	#dock_infos_block1 img
	{
		width: 50px;
	}
}

@media all and (max-width: 800px)
{
	.title
	{
		text-align: justify;
	}

	.b3
	{
		align-items: flex-end;
	}

	#dock_infos_block1
	{
		display: none;
	}

	#dock_infos_block2
	{
		width: 100%;
		flex-direction: row-reverse;
	}

	.msg
	{
		min-width: 500px;
	}
}